.CardContainer {
  width: 90%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  background: white;
}

.PName {
  color: black;
  width: 90%;  
}
.ImgPokemon {
  width: 90%;
  height: auto;
  object-fit: cover;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.CardContenedordeCartas {
  border-color: purple;
  display: grid;
  grid-template-columns: repeat(4, 1fr);

  grid-row-gap: 10px;
  grid-column-gap: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.typos {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}
.Ptypo {
  padding: 10px;
  border-radius: 20px;
}

.backPoison {
  background: purple;
  color: white;
}
.backBug {
  background: green;
  color: white;
}
.backElectrico {
  background: yellow;
}

.backDefecto {
  background: grey;
}

.bordeDeCarta {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
  border-radius: 10px;
}
